body {
	text-align: center;
}

.player-icons {
	margin: auto;
	font-size: 1.5em;
}

.top-buffer {
	margin-top: 150px;

}

.playerSelectBorder {
	border-color: green;
	border-width: 10px;
	border-style: solid;

}
